.word_div {
  width: 100%;
  border: 3px solid black;
  display: flex;
  position: relative;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.btn {
  background-color: #c2ffd7;
}

.btn_submit {
  padding: 5px;
  left: 45%;
}

.btn_prev {
  left: 0;
}

#focus_word, #translate_word {
  justify-content: center;
  align-items: center;
  height: 15%;
  border: 3px solid black; 
}

.btn_next {
  left: 100%;
}